{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_form %}
    <!-- Select2 -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <!-- Jquery -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'lib/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'lib/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{% static 'lib/toastr/toastr.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>

{% endblock %}

{% block nav %}

  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- SweetAlert2 -->
  <script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
  <!-- Toastr -->
  <script src="../../plugins/toastr/toastr.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
 <!-- Ckeditor -->
 <script src="{% static 'lib/ckeditor/full/ckeditor.js' %}"></script>
       
{% endblock nav %}



{% block modal %}
<!-- <section>
<div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default" style="background-color:#28a745;" >
        <i class="fas fa-user-plus"></i>
        {{form.cli}}
            Añadir Nuevo Cliente
        </button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default" 
    style="background-color:#007bff;">
    <i class="fas fa-plus"></i>
        Detalle Recursos Humanos
        </button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default" style="background-color:#007bff;">
        <i class="fas fa-plus"></i>
        Detalle Recursos Materiales
        </button>
    </div>  
    </div> -->

                    <!-- Modal Cliente  -->
    <!-- <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
                <form id="frmClient" enctype="multipart/form-data" method="post">
                    <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <b><i class="fas fa-user-plus"></i> Nuevo registro de cliente</b>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for field in frmClient.visible_fields %}
                                        <div class="form-group">
                                            <label for="email">{{ field.label }}:</label>
                                            {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                                        <i class="fas fa-save"></i> Guardar Cliente
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
    </div>
</div>
</section>  -->
{% endblock modal %}


{% block javascript %}
    <script type="application/javascript">
        $(function () {django
            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });
        });

        $(function () {
           

            $('#date_registration',).datetimepicker({
                format: 'YYYY-MM-DD',
                date: moment().format("YYYY-MM-DD"),
                locale: 'es',
                //minDate: moment().format("YYYY-MM-DD")
            });
            $('#date_start',).datetimepicker({
                format: 'YYYY-MM-DD',
                date: moment().format("YYYY-MM-DD"),
                locale: 'es',
                //minDate: moment().format("YYYY-MM-DD")
            });
            $('#date_finish',).datetimepicker({
                format: 'YYYY-MM-DD',
                date: moment().format("YYYY-MM-DD"),
                locale: 'es',
                //minDate: moment().format("YYYY-MM-DD")
            });
    
           
        });
    </script>
{% endblock %}