{% extends 'login/base.html' %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><b>UPEC-</b>CREATIVA EP</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Reseteo de contraseña</p>
                <form action=".." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-envelope"></i> Enviar
                            </button>
                        </div>
                    </div>
                    <p class="text-center mt-2" style="font-size: 13px;">
                        Si deseas volver al login da un click <a
                            href="{% url 'login' %}">aqui </a>
                    </p>
                </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de resetear tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación',
                            text: 'Se ha enviado un correo electrónico con los pasos a seguir para que pueda resetear su contraseña',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '/';
                            }
                        }).then((result) => {

                        });
                    });
                });
            });
        </script>
    </div>
{% endblock %}